# Chapter 10: Lists

## A list is a sequence
Like a string, a **list** is a sequence of values. In a string, the values are characters; in a list, they can be any type. The values in a list are called **elements** or sometimes **items**.

There are several ways to create lists. A list within another list is **nested**.

In [5]:
empty = []
numbers = [42,123]
cheeses = ['Gouda', 'Edam', 'Cheddar']
various = [0,1.5,'string',['nested', list]]

## Lists are mutable
Unlike strings, lists are mutable. When the bracket operator appears on the left side of an assignment, it identifies the element of the list that will be assigned.

![](images/10.1.png)

In [6]:
numbers[1] = 5
numbers

[42, 5]

List indices word the same way as string indices:
* Any integer expression can be used as an index
* If you try to read or write an element that does not exist, you get an IndexError
* If an index has a negative value, it counts backward from the end of the list

The in operator also workds on lists

In [7]:
'Edam' in cheeses

True

## Traversing a list
The most common way to traverse the elements of a list is with a for loop. The syntax is the same as for strings:

In [8]:
for cheese in cheeses:
    print(cheese)

Gouda
Edam
Cheddar

This works well for reading elemnts of the list, but if you want to write or update the elements, you need the indices. A common way to do that is to combine the built-in functions range and len:

In [11]:
for i in range(len(numbers)):
    numbers[i] = numbers[i] * 2
numbers

[336, 20]

## List operations
The + operator concatenates lists, while the * operator repeats lists:

In [12]:
numbers + cheeses

[336, 20, 'Gouda', 'Edam', 'Cheddar']

In [13]:
numbers * 2

[336, 20, 336, 20]

## List slices
The slice operator also works on lists:

In [26]:
t = ['a','b','c','d','e','f']
t[1:3]

['b', 'c']

In [16]:
t[:4]

['a', 'b', 'c', 'd']

## List methods
Python provides methods that operate on lists:

| method | example | description |
| ------ | ------- | ----------- |
| append | t.append('x') | adds a new element to the end of the list with value 'x' |
| extend | t1.extend(t2) | appends all elements of list t2 to the end of list t1 |
| sort | t.sort() | sorts the elements of a list from low to high |

In [18]:
t.append('x')
t

['a', 'b', 'c', 'd', 'e', 'f', 'x', 'x']

In [22]:
t1 = t
t2 = [1,2,3]
t1.extend(t2)
t1

['a', 'b', 'c', 'd', 'e', 'f', 'x', 'x', 1, 2, 3, 1, 2, 3]

In [27]:
t.sort()
t

['a', 'b', 'c', 'd', 'e', 'f']

## Map, filter and reduce

Most common list operations can be expressed as a combination of map, reduce, and filter:
1. Applying a function to each element of a sequence is referred to as a **map** operation. For example, capitalizing each letter in a word.
2. An operation that combines a sequence of elements into a single value is referred to as a **reduce** operation. For example, summing up all the numbers in a sequence
3. Selecting some elements in a sequence and omitting others is called a **filter** operation. For example, keeping only the numbers in a sequence greater than zero

In [3]:
def capitalize_all(a_list): ##MAP
    all_caps = []
    for item in a_list:
        all_caps.append(item.capitalize())
    return all_caps

In [4]:
capitalize_all(['This', 'is', 'a', 'list'])

['This', 'Is', 'A', 'List']

In [5]:
def sum_all(a_list): ##REDUCE
    total = 0
    for item in a_list:
        total += item
    return total

In [6]:
sum_all([1,2,5,7])

15

In [11]:
def only_positive(a_list): ##FILTER
    result =[] 
    for item in a_list:
        if item >= 0:
            result.append(item)
    return result

In [12]:
only_positive([-5,1,-3,0,5])

[1, 0, 5]

## Deleting items
There are several ways to delete elements from a list. 
1. If you know the index of the element, and you want to keep the deleted item, you can use *pop*. Pop modifies the list and returns the element that was removed.
2. If you know the index of the element, and you don't need the removed value, you can use the *del* operator. This operator also supports slicing if we want to remove several elements all at once.
3. If you don't know the index of the element, and you don't need the removed value, you can use the *remove* operator.

In [16]:
t = ['a', 'b', 'c']
x = t.pop(1)
t

['a', 'c']

In [17]:
x

'b'

In [21]:
t = ['a', 'b', 'c']
del t[1]
t

['a', 'c']

In [23]:
t = ['a', 'b', 'c']
del t[:2]
t

['c']

In [20]:
t = ['a', 'b', 'c']
t.remove('a')
t

['b', 'c']

## Lists and strings
A string is a sequence of characters and a list is a sequence of values, but a list of characters is not the same as a string. To convert from a string to a list of characters, you can use *list*. Because *list* is a built-in function, you should avoid using it as a variable name.

In [24]:
s = 'spam'
t = list(s)
t

['s', 'p', 'a', 'm']

If you want to conevert a sentence in the form of a string into a list of words, you can use the *split* operator. It takes an optional argument called a **delimiter**, which specifies the character to use as word boundaries.

In [25]:
s = 'spam-spam-spam'
s.split('-')

['spam', 'spam', 'spam']

The opposite of split is *join*, which takes a list of strings and concatenates the elements with an optional delimiter.

In [26]:
delimiter = ' '
t = ['pining', 'for', 'the', 'fjords']
delimiter.join(t)

'pining for the fjords'

## Objects and values
Two variables are referred to as **identical** if they refer to the same object. Two variables are **equivalent** if they have the same value, but may not necessarily be the same object, just another object with the same value.

When we take two string objects, and assign the same string value, Python considers these two objects as identical, because strings are immutable.

When we take two list objects, and assign the same element values, Python considers these two objects as equivalent, because lists are mutable.

In [29]:
a = 'banana'
b = 'banana'
a is b

True

In [30]:
a = [1,2,3]
b = [1,2,3]
a is b

False

## Aliasing
If a refers to an object, and you assign b = a, then both variables refer to the same object:

In [31]:
a = [1,2,3]
a = b
a is b

True

The association of a variable with an object is called a **reference**. In the example above, there are two references to the same object. An object with more than one reference has more than one name, so we refer to this object as being **aliased**.

If the aliased object is mutable, changes made with one alias affect another. Although this behaviour can be useful, it is error-prone. In general, it is safer to avoid aliasing when you are working with mutable objects.

## List arguments
It is important to distinguish between operators that modify lists and operators that create new lists. When you pass a list to a function, the function gets a reference to the list. If the function modifies the list, then the caller sees the change. However, if the function creates a new list, then it will not be seen by the caller:

In [33]:
## append modifies the list. There is no return value.
def append_item(a_list, item):
    return a_list.append(item)
append_item(a, 4)
a

[1, 2, 3, 4, 4]

In [36]:
## + cretaes a new list. There is a return value.
def bad_append_item(a_list, item):
    return a_list + item
bad_append_item(a,[4])

[1, 2, 3, 4, 4, 4]

In [38]:
a #a remains unchanged

[1, 2, 3, 4, 4]