## Module 7 - Workshop - Data Analysis, Part 2

In [ ]:
from numpy.random import randn
import numpy as np
import pandas as pd
np.random.seed(123)
import os
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(20, 10))
plt.style.use('ggplot')
np.set_printoptions(precision=4)
pd.options.display.max_rows = 10
%matplotlib inline

## US Baby Names 1880–2010

The United States Social Security Administration (SSA) has made available data on the frequency of baby names from 1880 through the present.

There are many things that can be done with the dataset:

- Visualize the proportion of babies given a particular name (your own, or another name) over time

- Determine the relative rank of a name

- Determine the most popular names in each year or the names whose popularity has advanced or declined the most

- Analyze trends in names: vowels, consonants, length, overall diversity, changes in spelling, first and last letters

- Analyze external sources of trends: biblical names, celebrities, demographic changes

The US Social Security Administration makes available data files, one per year, containing the total number of births for each sex/name combination. The raw archive of these files can be obtained from http://www.ssa.gov/oact/babynames/limits.html.

**EXERCISE 1 (5 minutes) - Data preparation:**

1). Download file "names.zip" either from the US Social Seciruty site, National Data link, or Quercus

2). Unzip the file in the same directory where the notebook is, you will have a directory containing a series of files with file names like "yob1880.txt", and a Readme file.

3). Use the Unix command to look at the first 10 lines of one of the files:
For Mac, here is the command:

In [ ]:
!head -n 10 names/yob1880.txt

4). Load **yob1880.txt** file into Pandas DataFrame using *read_csv()* function. Set column names to *['name', 'sex', 'births']*

In [ ]:
names1880 =

**EXERCISE 1 - discussion:**

Note that these files only contain names with at least five occurrences in each year. For the purpose of this exercise, we can use the simple sum of the births column by sex as the total number of births in that year:

In [ ]:
names1880.groupby('sex').births.sum()

Since the dataset is split into files by year, one of the first things to do is to assemble all of the data into a single DataFrame and further to add a year field. You can do this using *pandas.concat*:

In [ ]:
years = range(1880, 2011)

pieces = []
columns = ['name', 'sex', 'births']

for year in years:
    path = 'names/yob%d.txt' % year
    frame = pd.read_csv(path, names=columns)

    frame['year'] = year
    pieces.append(frame)

# Concatenate everything into a single DataFrame
names = pd.concat(pieces, ignore_index=True)

A couple of notes here: 

1). Pandas' *concat* glues the DataFrame objects together row-wise by default. 

2). We have to pass *ignore_index=True* because we're not interested in preserving the original row numbers returned from *read_csv*. So we now have a large DataFrame containing all of the names data:

In [ ]:
names

With this data in hand, we can already start aggregating the data at the year and sex level using *groupby* or *pivot_table*.

**EXERCISE 2 (10 mins):**

1) Create a pivot table *total_births* to aggregate (sum) the birth data by gender (*columns='sex'*), use year for index.

2) Plot the number of births by gender and year, on one graph.

In [ ]:
total_births =

Next, let's insert a column *prop* (proportion) with the fraction of babies given each name relative to the total number of births for each year and by gender. For example, a *prop* value of 0.02 would indicate that 2 out of every 100 babies were given a particular name. We will group the data by year and sex, then add the new column to each group:

In [ ]:
def add_prop(group):
    group['prop'] = group.births / group.births.sum()
    return group

names = names.groupby(['year', 'sex']).apply(add_prop)

In [ ]:
# de-tour to talk about groups

dfgr = names.groupby(['year', 'sex'])

In [ ]:
dfgr.groups

In [ ]:
# to access a single group by index:

dfgr.get_group((1880, 'M'))

In [ ]:
names

We can verify that the *prop* column sums to 1 within all the groups:

In [ ]:
names.groupby(['year', 'sex']).prop.sum().sum()

Next, let's extract a subset of the data: the top 1,000 names for each sex/year combination. This is another group operation:

In [ ]:
def get_top1000(group):
    return group.sort_values(by='births', ascending=False)[:1000]

In [ ]:
grouped = names.groupby(['year', 'sex'])
top1000 = grouped.apply(get_top1000)
# Drop the group index, not needed
top1000.reset_index(inplace=True, drop=True)

Resulting dataset which we will use in the next section of the analysis:

In [ ]:
top1000

### Analyzing Trends in Baby Names

**EXERCISE 3 (5 mins):**

Split the *top1000* dataframe into 2 dataframes, based on gender: *boys* and *girls*

In [ ]:
boys =

In [ ]:
girls =

Now, let's plot the top 3 names from both dataframes, each on an individual plot. But first, let's create a pivot table of the total number of births by year and name:

In [ ]:
total_births = top1000.pivot_table('births', index='year',
                                   columns='name',
                                   aggfunc=sum)
total_births

In [ ]:
subset = total_births[['John', 'Robert','James','Mary', 'Patricia', 'Elizabeth']]
subset.plot(subplots=True, figsize=(12, 10), grid=False,
            title="Number of births per year");

On looking at this, we might conclude that some of the names have grown out of favor with the American population. But the story is actually more complicated than that, as will be explored in the next section.

#### Measuring the increase in naming diversity

One explanation for the decrease in plots is that fewer parents are choosing common names for their children. This hypothesis can be explored and confirmed in the data. 

One measure is the proportion of births represented by the top 1,000 most popular names, which we can aggregate and plot by year and sex.

In [ ]:
table = top1000.pivot_table('prop', index='year',
                            columns='sex', aggfunc=sum)

In [ ]:
table

In [ ]:
table.plot(title='Sum of table1000.prop by year and sex',
           yticks=np.linspace(0, 1.2, 13), xticks=range(1880, 2020, 10), figsize=(10,7))

There appears to be increasing name diversity (decreasing total proportion in the top 1,000). 

Another interesting metric is the number of distinct names, taken in order of popularity from highest to lowest, in the top 50% of births. To compute this number, let's start by considering just the boy names from 2010:

In [ ]:
df2010 = boys[boys.year == 2010]
df2010

After sorting `prop` in descending order, we want to know how many of the most popular names it takes to reach 50%. 

To get this number, we can write a `for` loop or use `NumPy`. Taking the cumulative sum, `cumsum`, of `prop` and then calling the method `searchsorted` returns the position in the cumulative sum at which 0.5 would need to be inserted to keep it in sorted order.

In [ ]:
prop_cumsum2010 = df2010.sort_values(by='prop', ascending=False).prop.cumsum()
prop_cumsum2010[:10]

In [ ]:
prop_cumsum2010.values.searchsorted(0.5)

Since arrays are zero-indexed, adding 1 to this result gives you a result of 117. By contrast, in 1900 this number was much smaller:

In [ ]:
df1900 = boys[boys.year == 1900]
in1900 = df1900.sort_values(by='prop', ascending=False).prop.cumsum()
in1900.values.searchsorted(0.5) + 1

We can now apply this operation to each year/sex combination, groupby those fields, and apply a function returning the count for each group:

In [ ]:
def get_quantile_count(group, q=0.5):
    group = group.sort_values(by='prop', ascending=False)
    return group.prop.cumsum().values.searchsorted(q) + 1

diversity = top1000.groupby(['year', 'sex']).apply(get_quantile_count)
diversity = diversity.unstack('sex')

In [ ]:
diversity.head()

This resulting DataFrame `diversity` now has two time series, one for each sex, indexed by year. We can plot this:

In [ ]:
diversity.head()
diversity.plot(title="Number of popular names in top 50%",figsize=(10,7))

#### The “last letter” revolution

In 2007, baby name researcher Laura Wattenberg pointed out on her website (http://www.babynamewizard.com/archives/2007/7/where-all-boys-end-up-nowadays) that the distribution of boy names by final letter has changed significantly over the last 100 years. 

To see this, we first aggregate all of the births in the full dataset by year, sex, and final letter:

In [ ]:
names.head(5)

In [ ]:
# extract last letter from name column

last_letters = names.name.map(lambda x: x[-1])
last_letters.name = 'last_letter'

In [ ]:
last_letters.head()

In [ ]:
table = names.pivot_table('births', index=last_letters,
                          columns=['sex', 'year'], aggfunc=sum)

In [ ]:
table.head()

In [ ]:
# list(table.columns) gives a list of all columns
# Looking at 1910, F column data

table[('F', 1910)]

Then we select three representative years spanning the history and print the first few rows:

In [ ]:
subtable = table.reindex(columns=[1910, 1960, 2010], level='year')
subtable.head()

Next, normalize the table by total births to compute a new table containing proportion of total births for each sex ending in each letter:

In [ ]:
subtable.sum()

In [ ]:
letter_prop = subtable / subtable.sum()
letter_prop

Now, let's plot the letter proportions as bar plots for each sex broken down by year:

In [ ]:
import matplotlib.pyplot as plt

fig, axes = plt.subplots(2, 1, figsize=(15, 10))
letter_prop['M'].plot(kind='bar', rot=0, ax=axes[0], title='Male')
letter_prop['F'].plot(kind='bar', rot=0, ax=axes[1], title='Female',
                      legend=False)

As you can see, boy names ending in `n` have experienced significant growth since the 1960s. 

Going back to the full table created before, we will normalize the data by year and sex and select a subset of letters for the boy names, finally transposing to make each column a time series:

In [ ]:
letter_prop = table / table.sum()
dny_ts = letter_prop.loc[['d', 'n', 'y'], 'M'].T
dny_ts.head()

In [ ]:
# plot of the trends over time

# This is proportion of boys born with names ending in d/n/y over time

dny_ts.plot(figsize=(10, 7))

#### Boy names that became girl names (and vice versa)

Another fun trend is looking at boy names that were more popular with one sex earlier in the sample but have "changed sexes" in the present. 

One example is the name **Lesley** or **Leslie**. 

Going back to the `top1000` DataFrame, we will compute a list of names occurring in the dataset starting with "lesl":

In [ ]:
all_names = pd.Series(top1000.name.unique())
lesley_like = all_names[all_names.str.lower().str.contains('lesl')]
lesley_like

In [ ]:
# filter down to those names and sum births grouped by name to see the relative frequencies:

filtered = top1000[top1000.name.isin(lesley_like)]
filtered.groupby('name').births.sum()

Next, let's aggregate by sex and year and normalize within year:

In [ ]:
table = filtered.pivot_table('births', index='year',
                             columns='sex', aggfunc='sum')
table.head()

In [ ]:
table = table.div(table.sum(1), axis=0)
table.tail()

In [ ]:
table.plot(style={'M': 'k-', 'F': 'k--'},figsize=(10, 7))